html {
	height: 100%;
}
body {
	display: block;
	background-color: lightblue;
	height: 100%;
}
.container {
	height: 100%;
	width: 100%;
	display: block;
	margin: 0 auto;
	text-align: center;
}
.kanji {
	background-color: orange;
	text-align: center;
	font-size: 12rem;
	}

.definition {
	background-color: yellow;
	margin: auto;
	text-align: center;
}

.canvas {
	background-color: beige;
	position: relative;
	width: 60%;
	height: 30%;
}

input {
	position: relative;
	display: block;
	margin: 0 auto;
}