body {
	background-color: lightblue;
	min-height: 100%;
}

.kanji {
	background-color: orange;
	text-align: center;
	}

.definition {
	background-color: yellow;
	margin: auto;
	text-align: center;
}

.canvas {
	background-color: beige;
	position: absolute;
	left: 20%;
	right: 20%;
	bottom: 10%;
	width: 60%;
	height: 30%;
}
.container {
	position: relative;
	display: block;
	margin: 0 auto;
	text-align: center;
}
input {
	position: relative;
	display: block;
	margin: 0 auto;
}